# Formulate : a python library for formulation

In [1]:
import sys
!pip install https://github.com/l0d0v1c/formulate/blob/main/dist/formulate-1.1-py3-none-any.whl

Requirement already satisfied: formulate==1.1 from file:///app/notebooks/librairieRDM/publicPIP/formulate/dist/formulate-1.1-py3-none-any.whl in /opt/conda/lib/python3.8/site-packages (1.1)

In [6]:
from formulate.components import components

## Simple mixture

In [10]:
c=components(physical={"Hf":True,"rho":None})

In [11]:
c.add("Water","H2O",{'Hf':-285.83,"rho":1.0})
c.add("Nitrogen","N2",{'Hf':0,"rho":0.01})
c.add("Oxygen","O2",{'Hf':0,"rho":0.01})
c.mixture

{'Water': {'H': 111.017, 'O': 55.508, 'Hf': -15865.97, 'rho': 1.0, 'N': 0},
 'Nitrogen': {'N': 71.394, 'Hf': 0.0, 'rho': 0.01, 'O': 0, 'H': 0},
 'Oxygen': {'O': 62.502, 'Hf': 0.0, 'rho': 0.01, 'H': 0, 'N': 0}}

In [12]:
c.setrates({"Water":0.5,"Nitrogen":0.25,"Oxygen":0.25})

In [13]:
c.mixing()

     Component  Rate        O         H        N         Hf           rho
0        Water  0.50  55.5080  111.0170   0.0000 -15865.970             1
1     Nitrogen  0.25   0.0000    0.0000  71.3940      0.000          0.01
2       Oxygen  0.25  62.5020    0.0000   0.0000      0.000          0.01
3  Formulation  1.00  43.3795   55.5085  17.8485  -7932.985  Non additive

In [14]:
c.formulationtab

     Component  Rate        O        H        N        Hf           rho
0  Formulation   1.0  43.3795  55.5085  17.8485 -7932.985  Non additive

In [15]:
 c.formulation

{'O': 43.3795, 'H': 55.5085, 'N': 17.8485, 'Hf': -7932.985, 'rho': 'NA'}

## Oxygen balance

In [16]:
HT=components(physical={'Hf':True})
HT.add("TNT","C7H5N3O6",{"Hf":-67})
HT.add("RDX","C3H6N6O6",{"Hf":79})
HT.setrates({'TNT':0.75,'RDX':0.25})
HT.mixing()

     Component  Rate         O         H         C         N       Hf
0          TNT  0.75  26.41600  22.01400  30.81900  13.20800 -294.983
1          RDX  0.25  27.01300  27.01300  13.50600  27.01300  355.669
2  Formulation  1.00  26.56525  23.26375  26.49075  16.65925 -132.320

In [17]:
HT.oxygenbalance()

-60.877

## Eutectic point calculation

In [18]:
eutec=components(physical={"Hfus":None,"Tfus":None})
eutec.add("KF","",{"Hfus":28500,"Tfus":856+273})
eutec.add("LiF","",{"Hfus":10000,"Tfus":845+273})
eutec.add("NaF","",{"Hfus":32600,"Tfus":985+273})
eutec.setrates({"KF":1,"LiF":1,"NaF":1})
eutec.mixing()
T=eutec.eutectic()
eutec.formulationlist

     Component   Rate          Hfus  Tfus
0           KF  0.244         28500  1129
1          LiF  0.616         10000  1118
2          NaF  0.140         32600  1258
3  Formulation  1.000  Non additive   771